* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
  padding: 10px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  flex-direction: row;
  justify-content: space-between;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post__btns {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.page__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 10px;
}

.page {
  padding: 10px;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.navbar {
  display: flex;
  height: 50px;
  width: 100vw;
  padding: 10px;
  align-items: center;
  background: lightgrey;
}

.navbar__links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 1rem;
}